<!-- cargar archivos estaticos para incluir css en la layout -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?{% now 'U' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    {% include 'miapp/partials/_navbar.html' %}

    <div id="content">

        <div class="box">

            {% block content %}
                <!-- Contenido que se puede heredar -->
                <strong>Contenido de la layout original</strong>
    
            {% endblock %}

        </div>
    
    </div>

    {% include 'miapp/partials/_footer.html' %}
    
</body>
</html>